.mainInp {
  margin-bottom: 10px;
}

.maskForm {
  width: 90%;
  height: 49px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #00695f;
  padding-left: 10px;
  color: rgb(85, 83, 83);
  font-size: 16px;
  background: rgba(255,255,255, 1);
  color: #00695f;
}

.maskForm:hover {
  border-color: rgb(58, 58, 58);
}

.maskForm:focus {
  border: 2px solid #00695f;
  outline: none;
}


.maskForm::-webkit-input-placeholder {
  color: #00695f56;
}

.maskForm:-moz-placeholder {
  color: rgba(255,255,255, .5)
}